[MASTER]

# Add files or directories to the blacklist. They should be base names, not
# paths.
ignore=third_party

[MESSAGES CONTROL]

# Disable the message, report, category or checker with the given id(s). You
# can either give multiple identifiers separated by comma (,) or put this
# option multiple times (only on the command line, not in the configuration
# file where it should appear only once).
Disable=wrong-import-position, no-name-in-module, line-too-long, no-member, missing-module-docstring, missing-function-docstring, missing-class-docstring