# Components in this file are not installed, they are embedded into
# the Opteryx codebase. This file exists for two reasons:
#    1) To give credit to the authors of these libraries
#    2) For dependabot to alert to new versions

fastlogging==1.0.0
fuzzy==1.2.2
pyarrow_ops==0.0.8
travers==0.1.8
sqloxide