types-orjson
types-PyYAML
types-requests

coverage
pymemcache
pytest
mypy
rich
zstandard
hypothesis
pandas
polars

# different storage providers
fastavro
firebase-admin
sqlalchemy
pymysql
psycopg2-binary
duckdb==1.0.0  # 1040
duckdb-engine==0.13.1  # 1040

setuptools_rust