types-orjson
types-PyYAML
types-requests

coverage
hypothesis
mypy
pytest
black
isort

pandas
pymemcache
requests
rich
zstandard

# different storage providers
avro
firebase-admin
google-cloud-storage
minio
pymongo
sqlalchemy
pymysql
psycopg2-binary
polars
duckdb==0.7.1  # 1040
duckdb-engine==0.7.3  # 1040

setuptools_rust