types-orjson
types-PyYAML
types-requests

coverage
pymemcache
pytest
mypy
rich
zstandard
hypothesis
pandas
polars

# different storage providers
avro
firebase-admin
sqlalchemy
pymysql
psycopg2-binary
duckdb
duckdb-engine

setuptools_rust