types-orjson
types-PyYAML
types-requests

coverage
pymemcache
pytest
pytest-xdist
mypy
rich
zstandard
hypothesis
pandas
polars

# different storage providers
fastavro
firestore
sqlalchemy
pymysql
psycopg2-binary
duckdb==1.2.1  # 1040
duckdb-engine==0.15.0  # 1040
cassandra-driver
pyiceberg[sql-sqlite]
openpyxl
pyiceberg

setuptools_rust
freezegun