types-orjson
types-PyYAML
types-requests

coverage
hypothesis
mypy
pandas
pymemcache
pytest
requests
rich
zstandard

# different storage providers
avro
firebase-admin
google-cloud-storage
minio
pymongo

faust-streaming-rocksdb

setuptools_rust