types-orjson
types-PyYAML
types-requests

coverage
hypothesis
mypy
pytest
black
isort

pandas
pymemcache
requests
rich
zstandard

# different storage providers
avro
firebase-admin
google-cloud-storage
minio
pymongo
sqlalchemy
pymysql
psycopg2-binary
polars
duckdb
duckdb-engine

setuptools_rust