table {
    width: 100% !important;
    line-height: 1.3em;
    border: #7db3f3 !important;
}

th {
    padding-top: 0.7em !important;
    padding-bottom: 0.6em !important;
    margin-left: 0.8em !important;
    margin-right: 0.8em !important;
    font-weight: 600 !important;
    color: #4b4b4b;
    background-color: #edf1fd;
    font-size: 1.3em !important;
}

strong {
    color: #4b4b4b;
}

td {
    padding-top: 0.5em !important;
    padding-bottom: 0.5em !important;
    margin-left: 0.8em !important;
    margin-right: 0.8em !important;
    font-size: 1.3em !important;
    min-width: 9em;
}

code {
    font-family: Menlo, 'Robot Mono', 'JetBrains Mono', sans-serif;
    font-size: 0.9em !important;
    color: #d83790 !important;
    font-weight: 300;
    word-wrap: break-word;
    white-space:pre-wrap;
    background-color: transparent !important;
    padding: 0px !important;
}

pre > code {
    background-color: #faf7fd !important;
    font-size: 1em !important;
    padding: 1em !important;
    color: #822156 !important;
}

body {
    font-family: Inter, 'IBM Plex Sans', sans-serif;
    font-weight: 400;
}

p, li {
    font-size: 1.2em !important;
}

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 500 !important;
    font-size: 2.2em !important;
    margin-bottom: 0.7em !important;
    color: #4b4b4b !important;
}

h2 {
    font-family: Inter, 'IBM Plex Sans', sans-serif;
    font-weight: 500 !important;
    font-size: 1.7em !important;
    margin-bottom: 0.7em !important;
    margin-top: 0.5em !important;
    color: #11595c !important;
}

h3 {
    font-family: Inter, 'IBM Plex Sans', sans-serif;
    font-weight: 400 !important;
    font-size: 1.4em !important;
    margin-bottom: 0em !important;
    margin-top: 0.5em !important;
    color: #11595c !important;
}

h4 {
    font-family: Inter, 'IBM Plex Sans', sans-serif;
    font-weight: 300 !important;
    font-size: 1em !important;
    margin-bottom: 0.7em !important;
    margin-top: 0.5em !important;
    color: #333 !important;
}

p>a {
    color: #2680eb !important;
}

li>a {
    color: #2680eb !important;
}

strong {
    color: #6e6e6e !important;
}

.admonition {
    font-size: 1em !important;
}

.md-main__inner {
    margin-top: 0px !important;
}

.md-grid {
    max-width: 70rem !important;
}

.indent {
    padding-left: 2em;
}


.admonition.function {
    background-color: transparent;
    border: 0px;
    margin: 0px;
    box-shadow: none;
}

.admonition.function  > .admonition-title{
    background-color: transparent;
    border: 0px;
    padding-left: 0.2em;
    padding-bottom: 0px;
    padding-top: 0px;
    font-weight: 300;
}

.admonition.function  > .admonition-title::before{
    width: 0px;
}
  
.admonition.function  > p {
    margin: 0.2em 0px 0px 1em;
}

.md-header {
    background-color: #174d8d;
}

.md-nav__link {
    font-size: 0.9em;
    color: #6e6e6e !important;
}

.md-nav__link--active {
    color: #d83790 !important;
}

.k {
    color: #006699 !important;
    font-weight: 700 !important;
}

.s1 {
    color: #dd3300 !important;
}

.err {
    color: #555555 !important;
}

.n {
    color: #555555 !important;
}

.mi {
    color: #FF6600 !important;
}

.p {
    color: #998000 !important;
}

.btn-github {
    background-color: #000;
    color: #fff !important;
    border: 0px;
}

.md-button {
    padding: 0.4em 1em !important;
    font-weight: 400 !important;
}

.md-button:hover {
    color: #fff !important;
}