table {
    width: 100% !important;
    font-size: 0.9em !important;
    line-height: 1.3em;
}

th {
    padding: 0.4em 0.8em !important;
    font-weight: 500;
    color: #fff;
    background-color: #666;
}

td {
    padding: 0.4em 0.8em !important;
}

code {
    font-family: var(--bs-font-monospace);
    font-size: 1em !important;
    color: #D63384 !important;
    font-weight: 500;
    word-wrap: break-word;
}