#
# CI runs short-form fuzz testing (100 iterations), this performs larger set of
# iterations on a schedule (currently 100k, daily).
# 
name: Fuzzing

on:
  schedule:
    - cron: '0 3 * * *'  # 0300 each day

jobs:
  fuzz_testing:
    name: "Fuzz Testing"
    runs-on: ubuntu-latest
    steps:

      - name: Checkout code
        uses: actions/checkout@v4
  
      - name: Set up Python 3.11 x64
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'
          architecture: x64
        
      - name: Install Requirements
        run: |
          python -m pip install --upgrade pip uv
          python -m uv pip install --upgrade numpy cython==3.1.3
          python -m uv pip install --upgrade -r $GITHUB_WORKSPACE/tests/requirements.txt
          python -m uv pip install --upgrade -r $GITHUB_WORKSPACE/pyproject.toml
          python setup.py build_ext --inplace

      - name: Execute Tests
        run: python -m pytest tests/fuzzing/.
        env:
          TEST_ITERATIONS: 100000

