name: Regression Suite (Mac ARM)

on:
  push

jobs:
  regression_matrix:
    strategy:
      fail-fast: false
      max-parallel: 4
      matrix:
        python-version: ["3.10", "3.11", "3.12"]
        os: ['macos-14']
    runs-on: ${{ matrix.os }}
    steps:

      - name: Checkout code
        uses: actions/checkout@v4
  
      - name: Set up Python ${{ matrix.python-version }} 
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install Rust
        uses: actions-rs/toolchain@v1
        with:
            toolchain: stable
            override: true

      - name: Install Rust aarch64-apple-darwin target
        run: rustup target add aarch64-apple-darwin
        
      - name: Install Requirements
        run: |
          python -m pip install --upgrade pip
          python -m pip install --upgrade wheel numpy==1.* cython setuptools_rust pytest
          python -m pip install --upgrade -r requirements.txt
          python -m pip install --upgrade -r tests/requirements_arm.txt

      - name: Build on macOS universal2
        shell: bash
        env:
          DEVELOPER_DIR: /Applications/Xcode.app/Contents/Developer
          MACOSX_DEPLOYMENT_TARGET: "10.15"
          ARCHFLAGS: -arch arm64
          PYO3_CROSS_PYTHON_VERSION: ${{ matrix.python-version }}
        run: python setup.py build_ext --inplace

      - name: "Authenticate to Google Cloud"
        uses: google-github-actions/auth@v1
        with:
          credentials_json: '${{ secrets.GCP_KEY }}'

      - name: Run Regression Tests
        run: python -m pytest --color=yes
        env:
          GCP_PROJECT_ID: mabeldev
          MYSQL_USER: '${{ secrets.MYSQL_USER }}'
          MYSQL_PASSWORD: '${{ secrets.MYSQL_PASSWORD }}'
          POSTGRES_USER: '${{ secrets.POSTGRES_USER }}'
          POSTGRES_PASSWORD: '${{ secrets.POSTGRES_PASSWORD }}'
          MEMCACHED_SERVER: 'localhost:11211'
          DATA_CATALOG_PROVIDER: 'ICEBERG'
          DATA_CATALOG_CONFIGURATION: '${{ secrets.DATA_CATALOG_CONFIGURATION }}'
          EXPERIMENTAL_EXECUTION_ENGINE: 'true'
